@import "owl/owl";

$w__max: 1280px;
$breakpoint_desktop: max-with $w__max;

.landing {
  background: #eee;
  padding: 1em;
}

.carousel {
  width: 100%;
  max-width: $w__max;
  margin: 0 auto;


  .owl-nav {
    position: absolute;
    width: 100%;
    top:50%;
    margin-top:-3em;
    .owl-prev, .owl-next {
      position: absolute;
      display: block;
      cursor: pointer;
      &:after {
        font-family: "Courier New";
        font-size: 5em;
        color: rgba(#fff, .7);
      }

    }

    .owl-prev {
      left: 1em;
      &:after {
        content: '\2039'
      }
    }

    .owl-next {
      right: 1em;
      &:after {
        content: '\203A'
      }
    }
  }

  $dot-width: 10px;
  $dot-height: 10px;
  $dot-margin: 5px;
  $dot-background: #fff;
  $dot-background-active: #000;

  .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    .owl-dot {
      display: inline-block;
      zoom: 1;
      *display: inline;

      span {
        width: $dot-width;
        height: $dot-height;
        margin: $dot-margin;
        background: rgba($dot-background, .7);
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 30px;
      }

      &.active,
      &:hover {
        span {
          background: rgba($dot-background-active, .7);
        }
      }
    }
  }
}


.carousel__cta {
  overflow: auto;
  background: #fff;
  max-width: $w__max;
  margin: 0 auto;
  box-shadow: 0 1px 2px 1px rgba(#333, .1);
  .left {
    float: left;

    a {
      color: #293B49;
      text-decoration: none;
      padding: 1em;
      display: block;
    }

    .text {
      text-transform: uppercase;
      line-height: 2em;
      padding-left:1em;
      font-weight: bold;
    }

    svg {
      float: left;
      width: 2em;
      height: 2em;
      fill: #293B49;
    }
  }

  .right {
    float: right;
    a {
      display: block;
      padding: 1em;
      border-left:1px solid #eee;
    }
    svg {
      width: 2em;
      height: 2em;
      fill: #293B49;
    }
  }

}