body, html {
  margin: 0;
  font-family: sans-serif;
}

@import "~normalize.css";
@import "breakpoint/breakpoint";


$grid_table_breakpoint_mobile: max-width 520px;
$grid_table_breakpoint_desktop: min-width 520px;

* {
  box-sizing: border-box;
}

.table, header, .placeholder {
  max-width: 42em; //640px
  margin: 0 auto;
  display: table;
  padding: 1em;
  color: #666;
}

.sub-table {
  margin: 1em 0 0 0;

}


.table__header {
  background: #D2EAF6;
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: .7em;
  border: 1px solid rgba(#000, .1);
  border-bottom:0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &-col {
    display: table-cell;
    vertical-align: middle;
    padding: 1em .5em;
    width: 3em;
    @include breakpoint($grid_table_breakpoint_desktop) {
        border-right: 1px solid rgba(#000, .1);
    }
    text-align: center;
    color: #000;
    strong {
      font-size: .9em;
    }
    &:first-child {
      width: 5em;
      padding: 1em;
      text-align: left;
      strong {
        font-size: 1em;
      }

    }
    &:last-child {
      border:0;
    }
  }

  //Mobile styles
  @include breakpoint($grid_table_breakpoint_mobile) {
    position: relative;
    border:0;
    border-radius: 3px;
    &:after {
      content: '+';
      display: inline-block;
      float: right;
      position: absolute;
      top:1em;
      right: 1em;
    }
    &.is-mobile-expanded {
      &:after {
        content: '-';
      }
    }
    &-col {
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
}

.table__body {
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: .7em;
  border: 1px solid rgba(#000, .1);
  border-top:0;
  @include breakpoint($grid_table_breakpoint_mobile) {
    border: 0;
    display: none;
    &.is-mobile-visible {
      display: block;
    }
  }
  &-row {
    display: table-row;
    width: 100%;
    @include breakpoint($grid_table_breakpoint_mobile) {
      display: block;
      padding:1em 0;
    }
    &:nth-child(even) {
      background: rgba(#eee, .5);
    }
  }

  &-col {
    display: table-cell;
    padding: 1em;
    width: 3em;
    word-wrap: break-word;
    text-align: center;
    @include breakpoint($grid_table_breakpoint_desktop) {
      border-right: 1px solid rgba(#000, .1);
    }
    &:last-child {
      border:0;
    }
    &:first-child {
      width: 5em;
      text-align: left;
    }


    //This is visible only on small screens
    &-key {
      display: none;
    }

    @include breakpoint($grid_table_breakpoint_mobile) {
      display: block;
      width: 100%;
      text-align: left;
      padding: .5em 1em;
      &:first-child {
        width: 100%;
      }
      &-key {
        display: inline-block;
        width: 30%;
        color: #333;
        &:after {
          content: ':';
        }
      }
    }
  }
}