<div id="svg" style="height: 0; width: 0; position: absolute; visibility: hidden">
    <!-- inject:source -->
    <!-- endinject -->
</div>

<div id="svg-ref" class="icons">
    <!-- inject:svg -->
    <!-- endinject -->
</div>