<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adrian Florescu - Grid</title>


      <link rel="stylesheet" href="css/style.css">

      <!-- AngularJS -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

      <!-- Firebase -->
      <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>

      <!-- AngularFire -->
      <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

      <script src="app.js"></script>

  </head>

<body ng-app="hillGridApp">

    <header>
    <h1>Goalscorer Markets</h1>
    </header>
    <div  ng-controller="GridController">
        <div class="table">
            <div class="sub-table" ng-repeat="table in data.tables">
                <div class="table__header" ng-click="toggleMobileVisibility($event)">
                    <div class="table__header-col" ng-repeat="(header_key, header_value) in table.header__items track by $index" ng-if="header_value">
                       <strong ng-bind-html="trustAsHtml(header_value)">
                           {{header_value}}
                       </strong>
                    </div>
                </div>

                <div class="table__body js-table-body">
                    <div class="table__body-row" ng-repeat="(row_key, row_value) in table.items">
                        <div class="table__body-col" ng-repeat="col in row_value track by $index" ng-if="col">
                            <span class="table__body-col-key" ng-bind-html="trustAsHtml(table.header__items[$index])">{{table.header__items[$index]}}</span>
                            <span class="table__body-col-val">{{col}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="placeholder">
        <h2>Other markets</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur dolores esse ex labore sunt. Blanditiis cupiditate enim expedita iste nostrum officiis qui sequi ullam unde voluptatum? Eveniet, in, quos?</p>
    </div>

    <div class="placeholder">
        <h2>Something else</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae consectetur, cupiditate distinctio, ducimus eveniet excepturi fugit id ipsam minus modi necessitatibus odio officia perspiciatis quo, rerum tempore unde ut.</p>
    </div>
</body>



</html>
